In [3]:
import pandas as pd

In [2]:
my_data = pd.read_csv("Top_This_Week.csv")
my_data

,ID,url,Title,Total Comments,Score
0,14n378b,https://www.cnbc.com/2023/06/30/supreme-court-...,Supreme Court strikes down student loan forgiv...,3030,11023
1,14o2pem,https://i.redd.it/95deby9rhe9b1.jpg,"When it dips to 400, buy calls",411,8190
2,14q1z3k,https://i.redd.it/apd3etv8xu9b1.jpg,Anybody feel this pain?,402,6677
3,14qgwx5,https://i.redd.it/5jtfwblyly9b1.gif,options level 4 granted,227,6223
4,14oy5dm,https://v.redd.it/5sx6d9pp1m9b1,When she finds out you have Tesla calls ü•µ,249,5512
...,...,...,...,...,...
95,14ps7jn,https://www.reddit.com/r/wallstreetbets/commen...,Continued Claims - A recession indicator with ...,164,158
96,14nbryb,https://www.reddit.com/gallery/14nbryb,Tim Apple $AAPL 40k YOLOüçéüçè,53,162
97,14sj6yt,https://v.redd.it/b0e8ovf3ceab1,"I‚Äôm not naming any $META names, but I think I ...",21,161
98,14onj3d,https://www.reddit.com/r/wallstreetbets/commen...,Spce doomed to fail,167,148
99,14p3hpq,https://www.reddit.com/r/wallstreetbets/commen...,7 Year Streak of SPY Closing Higher in July Ve...,57,152

In [13]:
keywords = {"Tesla" : ["$TSLA", "TSLA", "tesla", "elon musk", "musk"],
            "Apple" : ["$AAPL", "AAPL", "apple"], 
            "Nvidia" : ["$NVDA", "NVDA", "nvidia"], 
            "Google" : ["$GOOGL", "GOOGL", "google", "alphabet"],
            "Amazon" : ["$AMZN", "AMZN", "amazon"],
            "Microsoft" : ["$MSFT", "MSFT", "microsoft"],
            "Meta" : ["$META", "META", "meta", "instagram", "facebook"]
        }

In [4]:
import pandas as pd

comments = pd.read_csv("PastWeekComments.csv")
len(comments.index)

40703

In [5]:
# Filtering our dataframe to get the comments which contain our required keywords
mask = comments['Comment'].str.contains('|'.join(keywords), case=False)

# Apply the mask to filter the dataframe
filtered_df = comments[mask]

filtered_df.head()

,Post ID,Title,Date,Comment,Length
6,14hdunm,Choose Your Fighter üö®,2023-06-23 23:58:45,I somehow don't think that this is what any Te...,134
16,14hdunm,Choose Your Fighter üö®,2023-06-23 23:58:45,They‚Äôre going to fake fight in the metaverse,44
26,14hdunm,Choose Your Fighter üö®,2023-06-23 23:58:45,I can't wait for Tesla fan boys to lose all th...,76
30,14hdunm,Choose Your Fighter üö®,2023-06-23 23:58:45,I mean I have meta calls right now so i'll go ...,59
38,14hdunm,Choose Your Fighter üö®,2023-06-23 23:58:45,I'm all in on Meta Knight.,26

In [6]:
filtered_df["Length"].describe()
filtered_df.to_csv("Filtered.csv")

In [7]:
filtered_df.head()

,Post ID,Title,Date,Comment,Length
6,14hdunm,Choose Your Fighter üö®,2023-06-23 23:58:45,I somehow don't think that this is what any Te...,134
16,14hdunm,Choose Your Fighter üö®,2023-06-23 23:58:45,They‚Äôre going to fake fight in the metaverse,44
26,14hdunm,Choose Your Fighter üö®,2023-06-23 23:58:45,I can't wait for Tesla fan boys to lose all th...,76
30,14hdunm,Choose Your Fighter üö®,2023-06-23 23:58:45,I mean I have meta calls right now so i'll go ...,59
38,14hdunm,Choose Your Fighter üö®,2023-06-23 23:58:45,I'm all in on Meta Knight.,26

In [1]:
keywords = {"Tesla" : ["$tsla", "tsla", "tesla", "elon musk", "musk"],
            "Apple" : ["$aapl", "aapl", "apple", "mac"], 
            "Nvidia" : ["$nvda", "nvda", "nvidia"], 
            "Google" : ["$googl", "googl", "google", "alphabet", "bard"],
            "Amazon" : ["$amzn", "amzn", "amazon", "aws"],
            "Microsoft" : ["$msft", "msft", "microsoft", "windows", "azure"],
            "Meta" : ["$meta", "meta", "instagram", "facebook"]
        }

In [2]:
keywords2 = ["$tsla", "tsla", "tesla", "elon musk", "musk", 
             "$aapl", "aapl", "apple", "mac",
             "$nvda", "nvda", "nvidia",
             "$googl", "googl", "google", "alphabet", "bard",
             "$amzn", "amzn", "amazon", "aws",
             "$msft", "msft", "microsoft", "windows", "azure",
             "$meta", "meta", "instagram", "facebook"]

In [10]:
df = comments.copy()

detected_keywords = []

filtered_df = df[df['Comment'].str.contains('|'.join(keywords2), case = False)]

# Add an extra column to the filtered dataframe that indicates which keyword was present in that comment
def keyWordBuilder(comment):
    returnString = ""
    for keyword in keywords2:
        if keyword in comment.lower():
            for key in keywords:
                if keyword in keywords[key]:
                    if key not in returnString:
                        returnString += key + ' '
    if returnString == "":
        return "None"
    return returnString

keyWordList = filtered_df['Comment'].apply(keyWordBuilder)

filtered_df = filtered_df.assign(Keyword = keyWordList)

# Print the filtered dataframe
filtered_df.head()

,Post ID,Title,Date,Comment,Length,Keyword
1,14hdunm,Choose Your Fighter üö®,2023-06-23 23:58:45,"\*as far as I know, Zuck been training BJJ fo...",172,Tesla
6,14hdunm,Choose Your Fighter üö®,2023-06-23 23:58:45,I somehow don't think that this is what any Te...,134,Tesla
16,14hdunm,Choose Your Fighter üö®,2023-06-23 23:58:45,They‚Äôre going to fake fight in the metaverse,44,Meta
26,14hdunm,Choose Your Fighter üö®,2023-06-23 23:58:45,I can't wait for Tesla fan boys to lose all th...,76,Tesla
27,14hdunm,Choose Your Fighter üö®,2023-06-23 23:58:45,Musk inverse zuck double reverse musk,37,Tesla